# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

{{/* Create a copy of the shared sidecar config values */}}
{{ $computeSidecarValues := deepCopy .Values.sidecars }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.services.computeService.serviceName }}
  labels:
    app: {{ .Values.services.computeService.serviceName }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.services.computeService.serviceName }}
  template:
    metadata:
      labels:
        app: {{ .Values.services.computeService.serviceName }}
        {{- with .Values.services.computeService.extraPodLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- include "osmo.extra-annotations" .Values.services.computeService | nindent 8 }}
        {{- if .Values.sidecars.otel.enabled }}
        sidecar.opentelemetry.io/inject: "true"
        {{- end}}
    spec:
      {{- with .Values.services.computeService.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
      {{- range .Values.services.computeService.topologySpreadConstraints }}
      - topologyKey: {{.topologyKey }}
        {{- range $key, $value := . }}
        {{- if ne $key "topologyKey" }}
        {{$key}}: {{$value}}
        {{- end }}
        {{- end }}
        labelSelector:
          matchLabels:
            app: {{ $.Values.services.computeService.serviceName }}
      {{- end }}
      nodeSelector:
        {{- range $k, $v := .Values.global.nodeSelector}}
        {{ $k }}: {{ $v }}
        {{- end}}
        {{- range $k, $v := .Values.services.computeService.nodeSelector}}
        {{ $k }}: {{ $v }}
        {{- end}}
      tolerations:
      {{ toYaml .Values.services.computeService.tolerations | nindent 8 }}
      {{- if .Values.global.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.global.imagePullSecret }}
      {{- end }}
      serviceAccountName: {{ include "osmo.service-account-name" (dict "serviceAccountName" .Values.services.computeService.serviceAccountName "Values" .Values) }}
      {{- with .Values.services.computeService.initContainers }}
      initContainers:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      containers:
      - name: {{ .Values.services.computeService.serviceName }}
        image: {{ .Values.global.osmoImageLocation }}/{{ .Values.services.computeService.imageName }}:{{ .Values.global.osmoImageTag }}
        command:
        - compute_service
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          runAsNonRoot: true
          runAsUser: 1001
        args:
        - --host
        - http://0.0.0.0:8000
        {{- if .Values.services.service.hostname }}
        - --service-hostname
        - {{ .Values.services.service.hostname }}
        {{- end }}
        - --redis-host
        - {{ .Values.services.redis.serviceName }}
        - --redis-port
        - {{ .Values.services.redis.port | quote }}
        - --redis-db-number
        - {{ .Values.services.redis.dbNumber | quote }}
        - --redis-tls-enable={{ .Values.services.redis.tlsEnabled }}
        - --postgres-host
        - {{ .Values.services.postgres.serviceName }}
        - --postgres-port
        - {{ .Values.services.postgres.port | quote }}
        - --postgres-database
        - {{ .Values.services.postgres.db}}
        {{- if .Values.services.postgres.user }}
        - --postgres-user
        - {{ .Values.services.postgres.user }}
        {{- end }}
        {{- if .Values.global.logs.enabled }}
        - --log-level
        - {{ .Values.global.logs.logLevel }}
        {{- end }}
        - --compute-progress-dir
        - {{ .Values.services.computeService.progressDir | quote }}
        - --compute-progress-frequency-sec
        - {{ .Values.services.computeService.progressFrequencySec | quote }}
        {{- range $arg := .Values.services.computeService.extraArgs }}
        - {{$arg}}
        {{- end }}
        env:
        {{- include "osmo.extra-env" .Values.services.computeService | nindent 8 }}
        {{- if .Values.services.postgres.password }}
        - name: OSMO_POSTGRES_PASSWORD
          value: {{ .Values.services.postgres.password }}
        {{- else if .Values.services.configFile.enabled }}
        - name: OSMO_POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: db-password
        - name: OSMO_REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-secret
              key: redis-password
        {{- end }}
        imagePullPolicy: {{ .Values.services.computeService.imagePullPolicy }}
        ports:
        {{- if or .Values.services.configFile.enabled .Values.global.logs.enabled .Values.services.computeService.extraVolumeMounts }}
        volumeMounts:
        {{- end }}
        {{- if .Values.services.configFile.enabled}}
        - mountPath: {{ .Values.services.configFile.path }}
          name: mek-volume
          subPath: mek.yaml
        {{- end }}
        {{- if .Values.global.logs.enabled }}
        - name: logs
          mountPath: /logs
        {{- end }}
        {{- include "osmo.extra-volume-mounts" .Values.services.computeService | nindent 8 }}
        resources:
        {{- toYaml .Values.services.computeService.resources | nindent 10 }}

        livenessProbe:
          grpc:
            port: 8000
          timeoutSeconds: 20
          failureThreshold: 3
          periodSeconds: 45

        startupProbe:
          grpc:
            port: 8000
          failureThreshold: 12
          periodSeconds: 5
          timeoutSeconds: 15
          initialDelaySeconds: 10

        readinessProbe:
          grpc:
            port: 8000
          periodSeconds: 10
          failureThreshold: 3
          timeoutSeconds: 5


      {{- include "osmo.envoy-sidecar-container" . | nindent 6}}
      {{- if .Values.sidecars.otel.enabled }}
      {{- include "osmo.otel-sidecar-container" . | nindent 6}}
      {{- end }}
      {{- include "osmo.log-agent-sidecar-container" . | nindent 6}}
      {{- include "osmo.extra-sidecars" .Values.services.computeService | nindent 6 }}
      volumes:
        {{- include "osmo.envoy-volumes" (dict "serviceName" .Values.services.computeService.serviceName "serviceEnvoy" .Values.services.computeService.envoy "Values" .Values) | nindent 8 }}
        {{- include "osmo.extra-volumes" .Values.services.computeService | nindent 8 }}
        {{- if .Values.sidecars.otel.enabled }}
        {{- include "osmo.otel-volumes" . | nindent 8 }}
        {{- end }}
        {{- if .Values.global.logs.enabled }}
        - name: logs
          emptyDir: {}
          {{- include "osmo.log-agent-volumes" . | nindent 8 }}
        {{- end}}
        {{- if .Values.services.configFile.enabled}}
        - configMap:
            defaultMode: 420
            items:
            - key: mek.yaml
              path: mek.yaml
            name: mek-config
          name: mek-volume
        {{- end}}

---
{{- if .Values.sidecars.envoy.enabled }}

{{- include "osmo.envoy-config" (dict "serviceName" .Values.services.computeService.serviceName "serviceEnvoy" .Values.services.computeService.envoy "Values" .Values "Release" .Release) }}
---
{{- end }}

apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.services.computeService.serviceName }}
  labels:
    app: {{ .Values.services.computeService.serviceName }}
spec:
  ports:
    - port: 80
      targetPort: {{ include "service.targetPort" . }}
      protocol: TCP
      name: http
  selector:
    app: {{ .Values.services.computeService.serviceName }}

---

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Values.services.computeService.serviceName }}
  labels:
    app: {{ .Values.services.computeService.serviceName }}
  annotations:
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Values.services.computeService.serviceName }}
  minReplicas: {{ .Values.services.computeService.scaling.minReplicas }}
  maxReplicas: {{ .Values.services.computeService.scaling.maxReplicas }}
  metrics:
  - type: ContainerResource
    containerResource:
      name: memory
      container: {{ .Values.services.computeService.serviceName }}
      target:
        type: Utilization
        averageUtilization: {{ .Values.services.computeService.scaling.hpaMemoryTarget }}
  - type: ContainerResource
    containerResource:
      name: cpu
      container: {{ .Values.services.computeService.serviceName }}
      target:
        type: Utilization
        averageUtilization: {{ .Values.services.computeService.scaling.hpaCpuTarget }}
