# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.services.messageWorker.serviceName }}
  labels:
    app: {{ .Values.services.messageWorker.serviceName }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.services.messageWorker.serviceName }}
  template:
    metadata:
      labels:
        app: {{ .Values.services.messageWorker.serviceName }}
      annotations:
        {{- include "osmo.extra-annotations" .Values.services.messageWorker | nindent 8 }}
        {{- if .Values.sidecars.otel.enabled }}
        sidecar.opentelemetry.io/inject: "true"
        {{- end}}
    spec:
      {{- with .Values.services.messageWorker.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
      {{- range .Values.services.messageWorker.topologySpreadConstraints }}
      - topologyKey: {{.topologyKey }}
        {{- range $key, $value := . }}
        {{- if ne $key "topologyKey" }}
        {{$key}}: {{$value}}
        {{- end }}
        {{- end }}
        labelSelector:
          matchLabels:
            app: {{ $.Values.services.messageWorker.serviceName }}
      {{- end }}
      nodeSelector:
        {{- range $k, $v := .Values.global.nodeSelector}}
        {{ $k }}: {{ $v }}
        {{- end}}
        {{- range $k, $v := .Values.services.messageWorker.nodeSelector}}
        {{ $k }}: {{ $v }}
        {{- end}}
      tolerations:
      {{ toYaml .Values.services.messageWorker.tolerations | nindent 8 }}
      {{- if .Values.global.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.global.imagePullSecret }}
      {{- end }}
      serviceAccountName: {{ include "osmo.service-account-name" (dict "serviceAccountName" .Values.services.messageWorker.serviceAccountName "Values" .Values) }}
      {{- with .Values.services.messageWorker.initContainers }}
      initContainers:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      containers:
      - name: {{ .Values.services.messageWorker.serviceName }}
        image: {{ .Values.global.osmoImageLocation }}/{{ .Values.services.messageWorker.imageName }}:{{ .Values.global.osmoImageTag }}
        command:
        - message_worker
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          runAsNonRoot: true
          runAsUser: 1001
        args:
        - --metrics_otel_collector_component
        - {{ .Values.services.messageWorker.serviceName }}
        - --metrics_otel_enable
        - {{ .Values.sidecars.otel.enabled | quote }}
        - --redis_host
        - {{ .Values.services.redis.serviceName }}
        - --redis_port
        - {{ .Values.services.redis.port | quote }}
        - --redis_db_number
        - {{ .Values.services.redis.dbNumber | quote }}
        {{- if .Values.services.redis.tlsEnabled }}
        - --redis_tls_enable
        - "true"
        {{- end}}
        - --postgres_host
        - {{ .Values.services.postgres.serviceName }}
        - --postgres_port
        - {{ .Values.services.postgres.port | quote }}
        - --postgres_database_name
        - {{ .Values.services.postgres.db}}
        {{- if .Values.services.configFile.enabled }}
        - --mek_file
        - {{ .Values.services.configFile.path }}
        {{- end}}
        {{- if .Values.services.postgres.user }}
        - --postgres_user
        - {{ .Values.services.postgres.user }}
        {{- end }}
        {{- if .Values.global.logs.enabled }}
        - --log_level
        - {{ .Values.global.logs.logLevel }}
        - --k8s_log_level
        - {{ .Values.global.logs.k8sLogLevel }}
        - --log_dir
        - /logs
        - --log_name
        - message_worker
        {{- end }}
        - --progress_file
        - {{ .Values.services.messageWorker.progressFile | quote }}
        - --progress_iter_frequency
        - {{ .Values.services.messageWorker.progressIterFrequency | quote }}
        {{- range .Values.services.messageWorker.extraArgs }}
        - {{ . }}
        {{- end }}
        env:
        {{- include "osmo.extra-env" .Values.services.messageWorker | nindent 8 }}
        {{- if .Values.services.postgres.password }}
        - name: OSMO_POSTGRES_PASSWORD
          value: {{ .Values.services.postgres.password }}
        {{- else if .Values.services.configFile.enabled }}
        - name: OSMO_POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: db-password
        - name: OSMO_REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-secret
              key: redis-password
        {{- end }}
        imagePullPolicy: {{ .Values.services.messageWorker.imagePullPolicy }}
        {{- if or .Values.services.configFile.enabled .Values.global.logs.enabled .Values.services.messageWorker.extraVolumeMounts }}
        volumeMounts:
        {{- end }}
        {{- if .Values.services.configFile.enabled}}
        - mountPath: {{ .Values.services.configFile.path }}
          name: mek-volume
          subPath: mek.yaml
        {{- end }}
        {{- if .Values.global.logs.enabled }}
        - name: logs
          mountPath: /logs
        {{- end }}
        {{- include "osmo.extra-volume-mounts" .Values.services.messageWorker | nindent 8 }}
        resources:
        {{- toYaml .Values.services.messageWorker.resources | nindent 10 }}

        # Restart if no progress for 300 seconds
        livenessProbe:
          exec:
            command:
            - progress_check
            - --progress_interval
            - "300"
            - --progress_file
            - {{ .Values.services.messageWorker.progressFile | quote }}
          failureThreshold: 1
          periodSeconds: 60
          timeoutSeconds: 15

        startupProbe:
          exec:
            command:
            - progress_check
            - --progress_interval
            - "300"
            - --progress_file
            - {{ .Values.services.messageWorker.progressFile | quote }}
          failureThreshold: 12
          periodSeconds: 5
          timeoutSeconds: 15
          initialDelaySeconds: 10

      {{- if .Values.global.logs.enabled }}
      {{- include "osmo.log-agent-sidecar-container" . | nindent 6}}
      {{- end }}
      {{- if .Values.sidecars.otel.enabled }}
      {{- include "osmo.otel-sidecar-container" . | nindent 6}}
      {{- end }}
      {{- include "osmo.extra-sidecars" .Values.services.messageWorker | nindent 6 }}
      volumes:
        {{- if .Values.sidecars.otel.enabled }}
        {{- include "osmo.otel-volumes" . | nindent 8 }}
        {{- end }}
        {{- if .Values.global.logs.enabled }}
        - name: logs
          emptyDir: {}
        {{- include "osmo.log-agent-volumes" . | nindent 8 }}
        {{- end}}
        {{- include "osmo.extra-volumes" .Values.services.messageWorker | nindent 8 }}
        {{- if .Values.services.configFile.enabled}}
        - configMap:
            defaultMode: 420
            items:
            - key: mek.yaml
              path: mek.yaml
            name: mek-config
          name: mek-volume
        {{- end}}

---

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Values.services.messageWorker.serviceName }}
  labels:
    app: {{ .Values.services.messageWorker.serviceName }}
  annotations:
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Values.services.messageWorker.serviceName }}
  minReplicas: {{ .Values.services.messageWorker.scaling.minReplicas }}
  maxReplicas: {{ .Values.services.messageWorker.scaling.maxReplicas }}
  metrics:
  - type: ContainerResource
    containerResource:
      name: memory
      container: {{ .Values.services.messageWorker.serviceName }}
      target:
        type: Utilization
        averageUtilization: {{ .Values.services.messageWorker.scaling.hpaMemoryTarget }}
  - type: ContainerResource
    containerResource:
      name: cpu
      container: {{ .Values.services.messageWorker.serviceName }}
      target:
        type: Utilization
        averageUtilization: {{ .Values.services.messageWorker.scaling.hpaCpuTarget }}
