# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0
{{- if .Values.global.enableNonClusterRoles }}

{{$name := or .Values.global.name .Release.Name }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}-{{ .Values.services.backendListener.serviceName }}
  namespace: {{ .Values.global.agentNamespace }}
  labels:
    app: {{ $name }}-{{ .Values.services.backendListener.serviceName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $name }}-{{ .Values.services.backendListener.serviceName }}
  template:
    metadata:
      labels:
        app: {{ $name }}-{{ .Values.services.backendListener.serviceName }}
        {{- with .Values.services.backendListener.extraPodLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
      {{- if .Values.sidecars.OTEL.enabled }}
        sidecar.opentelemetry.io/inject: "true"
      {{- end}}
      {{- with .Values.services.backendListener.extraPodAnnotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}

    spec:
      nodeSelector:
        {{- range $k, $v := .Values.global.nodeSelector}}
        {{ $k }}: "{{ $v }}"
        {{- end}}
        {{- range $k, $v := .Values.services.backendListener.nodeSelector}}
        {{ $k }}: "{{ $v }}"
        {{- end}}
      {{- if .Values.global.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.global.imagePullSecret }}
      {{- end }}
      serviceAccountName: {{ include "backend-operator.listener.serviceAccountName" . }}
      {{- with .Values.services.backendListener.initContainers }}
      initContainers:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      hostAliases:
        {{- with .Values.services.backendListener.hostAliases }}
          {{- toYaml . | nindent 8}}
        {{- end }}
      tolerations: {{ toYaml .Values.global.tolerations | nindent 8 }}
      containers:
      - name: backend-listener
        image: {{ .Values.global.osmoImageLocation }}/{{ .Values.services.backendListener.imageName }}:{{ .Values.global.osmoImageTag }}
        imagePullPolicy: {{ .Values.services.backendListener.imagePullPolicy }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          runAsNonRoot: true
          runAsUser: 1001
        command:
        - backend_listener
        args:
        - --host
        - {{ .Values.global.serviceUrl }}
        {{- if eq .Values.global.loginMethod "password" }}
        - --username
        - {{ .Values.global.accountUsername }}
        - --password_file
        - /opt/osmo/secrets/password.txt
        {{- else if eq .Values.global.loginMethod "token" }}
        - --token_file
        - /opt/osmo/secrets/token.txt
        {{- end }}
        - --login_method
        - {{ .Values.global.loginMethod }}
        - --backend
        - {{ .Values.global.backendName }}
        - --namespace
        - {{ .Values.global.backendNamespace }}
        - --log_level
        - {{ .Values.global.logs.logLevel }}
        - --k8s_log_level
        - {{ .Values.global.logs.k8sLogLevel }}
        - --metrics_otel_collector_component
        - {{ $name }}-{{ .Values.services.backendListener.serviceName }}
        - --metrics_otel_enable
        - {{ .Values.sidecars.OTEL.enabled | quote }}
        - --enable_node_label_update
        - '{{ .Values.services.backendListener.enableNodeLabelUpdate }}'
        - --node_condition_prefix
        - '{{ .Values.global.nodeConditionPrefix }}'
        - --max_unacked_messages
        - '{{ .Values.services.backendListener.max_unacked_messages }}'
        - --pod_event_cache_ttl
        - {{ .Values.services.backendListener.podCacheTtl | quote }}
        - --include_namespace_usage
        - {{ .Values.global.includeNamespaceUsage | quote }}
        - --api_qps
        - {{ .Values.services.backendListener.apiQps | quote }}
        - --api_burst
        - {{ .Values.services.backendListener.apiBurst | quote }}
        {{- range $arg := .Values.services.backendListener.extraArgs }}
        - {{$arg | quote}}
        {{- end }}
        env:
        {{- with .Values.services.backendListener.extraEnvs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        resources:
          {{- toYaml .Values.services.backendListener.resources | nindent 10 }}
        {{- if or .Values.services.backendListener.volumeMounts (eq .Values.global.loginMethod "password") (eq .Values.global.loginMethod "token") }}
        volumeMounts:
        {{- if eq .Values.global.loginMethod "password" }}
        - name: osmo-secret
          mountPath: /opt/osmo/secrets/password.txt
          subPath: password.txt
          readOnly: true
        {{- else if eq .Values.global.loginMethod "token" }}
        - name: osmo-secret
          mountPath: /opt/osmo/secrets/token.txt
          subPath: token.txt
          readOnly: true
        {{- end }}
        {{- if .Values.services.backendListener.volumeMounts }}
          {{- toYaml .Values.services.backendListener.volumeMounts | nindent 8 }}
        {{- end }}
        {{- end }}

        livenessProbe:
          exec:
            command:
            - progress_check
            - --progress_interval
            - "300:300:300:300"
            - --progress_file
            - /var/run/osmo/last_progress_websocket:/var/run/osmo/last_progress_pod:/var/run/osmo/last_progress_node:/var/run/osmo/last_progress_event
          failureThreshold: 1
          periodSeconds: 30
          timeoutSeconds: 15
        # Give the container 60 seconds to startup
        startupProbe:
          exec:
            command:
            - progress_check
            - --progress_interval
            - "300:300:300:300"
            - --progress_file
            - /var/run/osmo/last_progress_websocket:/var/run/osmo/last_progress_pod:/var/run/osmo/last_progress_node:/var/run/osmo/last_progress_event
          failureThreshold: 12
          periodSeconds: 5
          timeoutSeconds: 15
          initialDelaySeconds: 10

      {{- if .Values.sidecars.OTEL.enabled }}
      {{- include "backend-operator.injectOTEL" . | nindent 6}}
      {{- end }}
      {{- with .Values.services.backendListener.extraSidecarContainers }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- if or .Values.services.backendListener.volumes .Values.sidecars.OTEL.enabled (eq .Values.global.loginMethod "password") (eq .Values.global.loginMethod "token") }}
      volumes:
      {{- if .Values.services.backendListener.volumes }}
        {{- toYaml .Values.services.backendListener.volumes | nindent 6 }}
      {{- end }}
      {{- if eq .Values.global.loginMethod "password" }}
      - name: osmo-secret
        secret:
          secretName: {{ .Values.global.accountPasswordSecret }}
          items:
            - key: {{ .Values.global.accountPasswordSecretKey }}
              path: password.txt
      {{- else if eq .Values.global.loginMethod "token" }}
      - name: osmo-secret
        secret:
          secretName: {{ .Values.global.accountTokenSecret }}
          items:
            - key: {{ .Values.global.accountTokenSecretKey }}
              path: token.txt
      {{- end }}
      {{- if .Values.sidecars.OTEL.enabled }}
        {{- include "backend-operator.OTELVolumes" (dict "Values" .Values "Prefix" $name) | nindent 6 }}
      {{- end }}
      {{- end }}
{{- end }}
