always-auth=true
fetch-retries=5
hoist=false
legacy-peer-deps=true
prefer-dedupe=true
@kaf:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-cloud-npm-local/
@kaizen-ui:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-cloud-npm-local/
@kui-angular:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-cloud-npm-local/
@kui-react:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-cloud-npm-local/
@kui-shared:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-cloud-npm-local/
@nv-brand-assets:registry=https://urm.nvidia.com/artifactory/api/npm/sw-nvpubcloud-npm-local/
